In [1]:
import os
import os.path
import sqlite3 as sq3
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import numpy as np
import seaborn as sns
import matplotlib as mpl
from matplotlib import pyplot as plt
import plotly
import plotly.express as px
import time

```
draft
```
print(intlst(l-2).reshape(1, -1).shape)
print(np.array(lpt[1:l]).reshape(1, -1).shape)

if X.shape[0] != y.shape[0]:
  print("X and y rows are mismatched, check dataset again")

In [2]:
def tb2df(name):
    cmd = f"SELECT * FROM {name}"
    return pd.read_sql(cmd, con)

def intlst(r):
    return np.array([item for item in range(0, r+1)])

In [3]:
con = sq3.connect("/Users/theo/Documents/GitHub/pit_stop/Data/F1_timingdata_2014_2019.sqlite")
cursor = con.cursor()
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", con)
print(table)

            name
0        drivers
1  starterfields
2          races
3    qualifyings
4           laps
5    retirements
6      fcyphases

In [4]:
laps=tb2df("laps")

In [5]:
rid = laps['race_id'].unique()
did = laps['driver_id'].unique()
lap0=laps
lap0['lpt_slp']=None

In [6]:
for r in rid:
    for d in did:
        lpt = laps.loc[(laps['race_id']==r) & (laps['driver_id']==d)]['laptime'].tolist()
        l=len(lpt)
        if l > 2:
            coef_lst=[None, None]
            for i in range(2,l):
                coef_lst.append(LinearRegression().fit(intlst(i-2).reshape(-1, 1), np.array(lpt[1:i])).coef_[0])
            lap1=lap0[(lap0['race_id']==r) & (lap0['driver_id']==d)].copy()
            lap1['lpt_slp']=coef_lst
            lap0.update(lap1)

In [167]:
lapa = lap0
lapa['dt_rank']=lapa['position']

In [168]:
pitst = lapa.loc[csvf['pitstopduration'] > 0]

In [169]:
pitst

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,...,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,lpt_slp,dt_rank
38,1.0,1.0,17.0,22.0,130.795,130.795,28.757,5.275,A3,1.0,...,17.255,None,NaN,NaN,NaN,NaN,NaN,NaN,None,17.0
39,1.0,1.0,18.0,16.0,156.707,156.707,54.669,25.912,A3,1.0,...,25.541,A2,NaN,NaN,NaN,NaN,NaN,NaN,None,18.0
40,1.0,1.0,19.0,20.0,161.894,161.894,59.856,5.187,A2,1.0,...,32.657,A3,NaN,NaN,NaN,NaN,NaN,NaN,None,19.0
204,1.0,10.0,16.0,15.0,156.286,1038.096,78.704,5.033,A3,10.0,...,34.921,A3,NaN,NaN,NaN,NaN,NaN,NaN,-1.21228,16.0
215,1.0,11.0,9.0,10.0,117.843,1101.790,47.213,21.762,A3,13.0,...,22.411,A3,NaN,NaN,NaN,0.722,1.0,0.278,-0.970903,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133673,121.0,38.0,3.0,40.0,104.980,3944.580,24.819,10.603,A4,26.0,...,21.274,A7,NaN,NaN,NaN,NaN,NaN,NaN,-0.0435507,3.0
133676,121.0,38.0,6.0,12.0,105.352,3966.548,46.787,0.082,A4,26.0,...,21.858,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.0852347,6.0
133717,121.0,40.0,7.0,8.0,105.782,4208.112,85.135,17.759,A4,40.0,...,21.496,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.132004,7.0
133740,121.0,41.0,10.0,25.0,105.220,4326.769,101.816,0.744,A4,29.0,...,21.466,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.0981539,10.0
133761,121.0,42.0,11.0,2.0,105.502,4434.759,107.653,0.728,A4,31.0,...,21.624,A7,NaN,NaN,NaN,NaN,NaN,NaN,-0.0941443,11.0

In [170]:
lapa.loc[(lapa['race_id'] == 1) & (lapa['driver_id'] == 22)].tail(1)['position'].iloc[0]

12.0

#pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)]['dt_rank']=

#pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)]['position'] -=12
#-lapa.loc[(lapa['race_id'] == 1) & (lapa['driver_id'] == 22)].tail(1)['position']

dtr_lst=[]

#pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)]['dt_rank'].iloc[0]=0
#pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)]


updt = pitst.loc[(pitst['race_id']==1) & (pitst['driver_id']==22)].copy() 
updt.iloc[0,-1]-=lapa.loc[(lapa['race_id'] == 1) & (lapa['driver_id'] == 22)].tail(1)['position'].iloc[0]
pitst.update(updt)
#p1=pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)].copy()
#p1['dt_rank']-=12
#pitst.update(p1)
#p1
#pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)][:, 'position']  = pitst.loc[(pitst['race_id'] == 1) & (pitst['driver_id'] == 22)]['position'].apply(lambda x: x - 12)

#pitst.loc[(pitst['race_id']==1) & (pitst['driver_id']==22)]
pitst.loc[(pitst['race_id']==1) & (pitst['driver_id']==22)]

final rank 12

In [171]:
for r in rid:
    for d in did:
        temp = pitst.loc[(pitst['race_id']==r) & (pitst['driver_id']==d)]
        l=len(temp)
        updt = temp.copy() 
        for i in range(l):
            updt.iloc[i,-1]-=lapa.loc[(lapa['race_id'] == r) & (lapa['driver_id'] == d)].tail(1)['position'].iloc[0]
        pitst.update(updt)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [172]:
pitst

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,...,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,lpt_slp,dt_rank
38,1.0,1.0,17.0,22.0,130.795,130.795,28.757,5.275,A3,1.0,...,17.255,None,NaN,NaN,NaN,NaN,NaN,NaN,None,5.0
39,1.0,1.0,18.0,16.0,156.707,156.707,54.669,25.912,A3,1.0,...,25.541,A2,NaN,NaN,NaN,NaN,NaN,NaN,None,7.0
40,1.0,1.0,19.0,20.0,161.894,161.894,59.856,5.187,A2,1.0,...,32.657,A3,NaN,NaN,NaN,NaN,NaN,NaN,None,6.0
204,1.0,10.0,16.0,15.0,156.286,1038.096,78.704,5.033,A3,10.0,...,34.921,A3,NaN,NaN,NaN,NaN,NaN,NaN,-1.21228,10.0
215,1.0,11.0,9.0,10.0,117.843,1101.790,47.213,21.762,A3,13.0,...,22.411,A3,NaN,NaN,NaN,0.722,1.0,0.278,-0.970903,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133673,121.0,38.0,3.0,40.0,104.980,3944.580,24.819,10.603,A4,26.0,...,21.274,A7,NaN,NaN,NaN,NaN,NaN,NaN,-0.0435507,0.0
133676,121.0,38.0,6.0,12.0,105.352,3966.548,46.787,0.082,A4,26.0,...,21.858,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.0852347,1.0
133717,121.0,40.0,7.0,8.0,105.782,4208.112,85.135,17.759,A4,40.0,...,21.496,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.132004,-2.0
133740,121.0,41.0,10.0,25.0,105.220,4326.769,101.816,0.744,A4,29.0,...,21.466,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.0981539,0.0
133761,121.0,42.0,11.0,2.0,105.502,4434.759,107.653,0.728,A4,31.0,...,21.624,A7,NaN,NaN,NaN,NaN,NaN,NaN,-0.0941443,0.0

In [173]:
pitst['sc_pit']= np.where(pitst['dt_rank']<0, True, False)

<ipython-input-173-f455a9364ec6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitst['sc_pit']= np.where(pitst['dt_rank']<0, True, False)

In [174]:
pitst.loc[pitst['sc_pit']==True]

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,...,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,lpt_slp,dt_rank,sc_pit
228,1.0,12.0,4.0,7.0,136.397,1211.071,22.225,5.673,A3,14.0,...,A3,NaN,NaN,NaN,0.0,1.0,1.059,-0.532382,-3.0,True
231,1.0,12.0,7.0,6.0,143.494,1222.660,33.814,0.030,A3,14.0,...,A3,NaN,NaN,NaN,0.0,1.0,1.105,-0.7376,-2.0,True
233,1.0,12.0,9.0,8.0,150.844,1230.872,42.026,6.273,A3,14.0,...,A2,NaN,NaN,NaN,0.0,1.0,1.113,-0.769745,-1.0,True
660,1.0,37.0,2.0,4.0,112.635,3726.236,41.813,41.813,A3,25.0,...,A2,NaN,NaN,NaN,NaN,NaN,NaN,-0.293382,-1.0,True
1029,2.0,2.0,18.0,6.0,116.550,241.353,22.028,3.552,A2,4.0,...,A1,NaN,NaN,NaN,NaN,NaN,NaN,0,-1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133359,121.0,22.0,9.0,11.0,107.583,2342.292,80.388,4.754,A6,22.0,...,A4,NaN,NaN,NaN,NaN,NaN,NaN,-0.18516,-4.0,True
133407,121.0,24.0,17.0,45.0,109.673,2581.574,112.853,0.443,A4,24.0,...,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.150112,-2.0,True
133445,121.0,26.0,15.0,35.0,106.816,2790.169,113.505,13.563,A4,18.0,...,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.147052,-1.0,True
133566,121.0,32.0,16.0,44.0,107.796,3433.594,126.545,15.403,A4,32.0,...,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.105853,-1.0,True
133717,121.0,40.0,7.0,8.0,105.782,4208.112,85.135,17.759,A4,40.0,...,A6,NaN,NaN,NaN,NaN,NaN,NaN,-0.132004,-2.0,True

In [175]:
pitst.to_csv("pit_stop.csv", index=False)

In [ ]:
lap0.to_csv("lap0.csv", index=False)

In [7]:
###
#laps['laptime']
lap0=laps
start_time = time.time()
lptlist = laps.loc[(laps['race_id']==120) & (laps['driver_id']==4)]['laptime']
elapsed_time1 = time.time() - start_time
lptlist
###

131518        NaN
131538     82.322
131558     75.667
131579     75.171
131599     75.494
           ...
132843    100.552
132859    111.278
132875    130.588
132889     76.126
132906     74.725
Name: laptime, Length: 72, dtype: float64

In [9]:
lpt=lptlist.tolist()
l=len(lpt)

LinearRegression().fit(intlst(l-2).reshape(-1, 1), np.array(lpt[1:l])).coef_[0]

0.17621572769953056

In [17]:
lpt=lptlist.tolist()
l=len(lpt)
coef_lst=[None, None]
for i in range(2,l):
    coef_lst.append(LinearRegression().fit(intlst(i-2).reshape(-1, 1), np.array(lpt[1:i])).coef_[0])
len(coef_lst)

72

In [28]:
lap0=laps
lap0['lpt_slp']=None
#pd.options.mode.chained_assignment = None  # default='warn'
lap0

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,pitintime,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,lpt_slp
0,1,0,1,1,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
1,1,0,2,2,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
2,1,0,3,3,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1,0,4,4,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
4,1,0,5,5,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134001,121,55,2,27,101.119,5662.487,16.772,16.772,A4,30,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134002,121,55,3,40,102.829,5689.150,43.435,26.663,A7,17,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134003,121,55,4,15,102.180,5690.094,44.379,0.944,A4,26,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134004,121,55,5,12,100.128,5710.072,64.357,19.978,A6,17,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134005,121,55,6,43,103.358,5714.920,69.205,4.848,A4,42,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None

In [29]:
lap1=lap0[(lap0['race_id']==120) & (lap0['driver_id']==4)].copy()

In [30]:
lap1['lpt_slp']=coef_lst

In [32]:
lap0.update(lap1)

In [35]:
lap0

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,pitintime,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,lpt_slp
0,1.0,0.0,1.0,1.0,NaN,0.000,NaN,NaN,A3,2.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
1,1.0,0.0,2.0,2.0,NaN,0.000,NaN,NaN,A3,2.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
2,1.0,0.0,3.0,3.0,NaN,0.000,NaN,NaN,A3,2.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1.0,0.0,4.0,4.0,NaN,0.000,NaN,NaN,A3,2.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
4,1.0,0.0,5.0,5.0,NaN,0.000,NaN,NaN,A3,2.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134001,121.0,55.0,2.0,27.0,101.119,5662.487,16.772,16.772,A4,30.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134002,121.0,55.0,3.0,40.0,102.829,5689.150,43.435,26.663,A7,17.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134003,121.0,55.0,4.0,15.0,102.180,5690.094,44.379,0.944,A4,26.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134004,121.0,55.0,5.0,12.0,100.128,5710.072,64.357,19.978,A6,17.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None
134005,121.0,55.0,6.0,43.0,103.358,5714.920,69.205,4.848,A4,42.0,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,None

In [ ]:
for i in range(20):
    for i in did_lst:

start_time = time.time()
for i in range(5000):
    if 
elapsed_time2 = time.time() - start_time